<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylmall.at.dao.OrderInfoDao">

<!-- 插入订单对象 -->
	<insert id="insertOrderInfo" parameterType="com.ylmall.at.tobject.Order">
	insert into orderinfo(orderId,sku,amount,shopCode) values
		<foreach collection="originOrderList" item="item" separator=",">	
				(#{orderId},#{item.sku},#{item.amount},#{shopCode})
		</foreach>	
	</insert>

<!--插入拆单结果对象 -->
	<insert id="insertResult" parameterType="com.ylmall.at.tobject.ResultShop">
		insert into orderinfo(orderId,sku,amount,shopCode)
		values
		<foreach collection="childOrderList" item="childItem" separator=",">		
			<foreach collection="childItem.infoList" item="Item" separator=",">
				(#{childItem.orderId},#{Item.sku},#{Item.amount},#{childItem.shopCode})
			</foreach>
		</foreach>
	</insert>
	
<!-- 查询拒单门店号列表 -->
	<select id="selectShopCode" parameterType="java.lang.String" resultType="java.lang.String">
		 Call selectShop(#{orderId}) 
	</select>
	
<!-- 查询订单明细 -->	
	<select id="selectOrderInfo" resultType="com.ylmall.at.model.OrderInfo">
		select orderinfo.orderId,sku,amount,shopCode
		from orderinfo,orderstate
		where orderinfo.orderId=orderstate.orderId and orderState='1'
	</select>
</mapper>